DE0_Nano_QSYS.qws
QSYS/.qsys_edit/my_nios1.xml
QSYS/.qsys_edit/my_nios1_schematic.nlv
QSYS/.qsys_edit/preferences.xml
QSYS/my_nios1.qsys
QSYS/my_nios1.sopcinfo
QSYS/my_nios1/my_nios1.html
QSYS/my_nios1/my_nios1.xml
QSYS/my_nios1/my_nios1_generation.rpt
QSYS/my_nios1/my_nios1_generation_previous.rpt
QSYS/my_nios1/synthesis/my_nios1.debuginfo
QSYS/my_nios1/synthesis/my_nios1.qip
QSYS/my_nios1/synthesis/my_nios1.regmap
QSYS/my_nios1/synthesis/my_nios1.vhd
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0.v
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_cmd_demux.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_cmd_demux_001.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_cmd_mux.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_cmd_mux_002.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_router.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_router_001.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_router_002.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_router_004.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_rsp_demux.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_rsp_demux_002.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_rsp_mux.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_rsp_mux_001.sv
output_files/DE0_Nano_QSYS.asm.rpt
output_files/DE0_Nano_QSYS.done
output_files/DE0_Nano_QSYS.eda.rpt
output_files/DE0_Nano_QSYS.fit.rpt
output_files/DE0_Nano_QSYS.fit.summary
output_files/DE0_Nano_QSYS.flow.rpt
output_files/DE0_Nano_QSYS.jdi
output_files/DE0_Nano_QSYS.map.rpt
output_files/DE0_Nano_QSYS.map.smsg
output_files/DE0_Nano_QSYS.map.summary
output_files/DE0_Nano_QSYS.pin
output_files/DE0_Nano_QSYS.sld
output_files/DE0_Nano_QSYS.sof
output_files/DE0_Nano_QSYS.sta.rpt
output_files/DE0_Nano_QSYS.sta.summary
simulation/modelsim/DE0_Nano_QSYS.vho
simulation/modelsim/DE0_Nano_QSYS_6_1200mv_0c_slow.vho
simulation/modelsim/DE0_Nano_QSYS_6_1200mv_0c_vhd_slow.sdo
simulation/modelsim/DE0_Nano_QSYS_6_1200mv_85c_slow.vho
simulation/modelsim/DE0_Nano_QSYS_6_1200mv_85c_vhd_slow.sdo
simulation/modelsim/DE0_Nano_QSYS_min_1200mv_0c_fast.vho
simulation/modelsim/DE0_Nano_QSYS_min_1200mv_0c_vhd_fast.sdo
simulation/modelsim/DE0_Nano_QSYS_modelsim.xrf
simulation/modelsim/DE0_Nano_QSYS_vhd.sdo
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_avalon_st_adapter_006.v
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_avalon_st_adapter_006_error_adapter_0.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_mm_interconnect_0_router_008.sv
QSYS/my_nios1/synthesis/submodules/my_nios1_sysid_qsys_0.v
QSYS/software/base_testing/
QSYS/software/base_testing_bsp/
db/
incremental_db/compiled_partitions/
output_files/DE0_Nano_QSYS.cdf
